<h1>Create Promotion</h1>

<%= bootstrap_form_with model: @promotions, url: promotions_path, method: :post, local: true do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :discount_flat %>
    <%= f.text_field :discount_percent %>
    <%= f.text_field :promo_code %> 
    <%= f.collection_select :service_id, Service.all, :id, :service_name,{ hide_label: true } %>
    <%= f.submit %>
<% end %>
